@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import "modules/reset";
@import "modules/typo";

:root {
  --neutral-color: 0, 185, 242;
  --sub-color-dark: 0, 0, 0;
  --sub-color: 52,53,65;
  --sub-color-light: 64,65,79;
  --main-color: 255, 255, 255;
  --main-color-dark-1: 200, 200, 200;
  --scrollbar-width: 10px;
  --radius-little: 5px;
  --radius-medium: 10px;
  --spacing-small: 5px;
  --spacing-little: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
  --interface-size: 1200px;
  --header-size: 95px;
}

body {
  color: rgba(var(--sub-color), 0.84);
  background-color: rgb(var(--main-color));
}

body, input {
  font-family:
          "Inter",
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen-Sans,
          Ubuntu,
          Cantarell,
          "Helvetica Neue",
          sans-serif;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgb(var(--neutral-color)) rgb(var(--main-color));
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

*::-webkit-scrollbar-track {
  background: rgb(var(--main-color));
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(var(--neutral-color));
}

::-moz-selection {
  background-color: rgba(0, 0, 0, 0.3);

}

::selection {
  background-color: rgba(0, 0, 0, 0.3);
}

a {
  color: rgb(var(--sub-color));
}